{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:marketing_lead_run_leadgen' %}"
           class="addlink"
           style="background: #25D366; color: white;"
           onclick="return confirm('Run Google Places lead-gen now? Takes 5-10 seconds. Up to 10 fresh prospects will be saved.');">
            🔄 Run lead-gen now
        </a>
    </li>
    <li>
        <a href="/admin/django_celery_beat/periodictask/" class="addlink">
            ⏰ Manage scheduled tasks
        </a>
    </li>
    {{ block.super }}
{% endblock %}
